<h1>Bookings#edit</h1>
<p>Find me in app/views/bookings/edit.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Create a new Rever game booking!</h1>
      <%= simple_form_for @booking do |f| %>
        <%= f.input :status %>
        <button type="button" class="btn btn-info btn-filter" data-target="Check-Out">Check-Out</button>
        <button type="button" class="btn btn-info btn-filter" data-target="Check-In">Check-In</button>
        <button type="button" class="btn btn-info btn-filter" data-target="Contact Seller">Contact Seller</button>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

