
<!--
<nav  -->class="navbar navbar-expand-lg navbar-dark default-color-dark fixed-top" style="position: relative">
  <%= link_to root_path do %>
      <%= image_tag "logo.jpg", class: "logo"%>
  <% end %>
  <%= link_to "Sign In", new_user_session_path, class: "landing_page_btn" %>
  <%= link_to "All Games", games_path, class: "gam_page_btn" %>

<!-- </nav> -->



